body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/question-1243504_1920.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title-banner {
    background-color: #ffffff;
    color: #550707;
    text-align: center;
    padding: 10px 0;
}

.title-banner h1 {
    font-size: 36px;
    margin-top: -10px;
    margin-bottom: 0;
}

.title-banner p {
    font-size: 18px;
    margin: 0;
}


.container {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.refresh-button {
    margin-right: auto;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.refresh-button:hover {
    background-color: #818181;
}

.button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

p {
    white-space: pre-line;
    font-size: 18px; /* Increase font size */
    margin-top: 20px; /* Adjust spacing */
    font-weight: bold;
}

.custom-select {
    margin-left: auto;
    width: 120px;
}

.select-label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

select {
    width: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center; 
}

select:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

